#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './Makefile.am',
		 './bin/userdocs-version',
		 './configure.ac',
		 './install/rpm/userdocs.spec',
		 './tests.config',
		 './tests/specifications/version.t',
		 './tests/tests.config',
# 		 './VERSION',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  micro => '0',
		  minor => '0',
		  monotone_id => `mtn automate get_current_revision_id`,
		  package => 'userdocs',
		 },
      };

return $config;

