#!/usr/bin/perl -w
#!/usr/bin/perl -d:ptkdb
#
#
#

use strict;


# $Format: "my $package_name = \"${package}\";"$
my $package_name = "userdocs";

# $Format: "my $package_version = \"${label}\";"$
my $package_version = "userdocs-6";


my $core_directory = defined $ENV{srcdir} ? $ENV{srcdir} . '/' : './';


my $config
    = {
       core_directory => $core_directory,
       description => 'Documentation tests',
       package => {
		   name => $package_name,
		   version => $package_version,
		  }
      };


return $config;


